# dependências
/node_modules

# build do Next.js
/.next
/out

# variáveis de ambiente (NUNCA versionar seus segredos)
.env
.env*.local

# arquivos do sistema
.DS_Store
*.pem
npm-debug.log*
next-env.d.ts
